*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    padding: 1.5rem;
    background: linear-gradient(to bottom, #009688 20%, #D8DBD6 15% 100%);
}
.container{
    margin: auto;
    display: flex;
    height: 100%;
    max-width: 1100px;
    flex: 0 0 100%;
}
.area-left{
    flex: 0 0 35%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #D6D6D6;
}
.area-left .user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #eaeaea;
}
.avatar-user-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon-container{
    display: flex;
    gap: 1rem;
    color: #B1B1B1;
}
.area-left .avatar-user {
    height: 70px;
    aspect-ratio: 1;
    object-fit: covers;
    object-position: center;
    border-radius: 100%;
}
.notification{
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0.5rem;
    gap: 1rem;
}
.notification .bell{
    background-color: white;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.bell i{
    margin: auto;
    font-size: 20px;
    color: #8EDAFC;
}
.notification-text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.notification-text a{
    color: grey;
}
.search{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 1rem;
    border: 0.5rem solid #FAFAFA;
}
.search i{
    color: #B1B1B1;
    font-size: 20px;
}
.search input{
    width: 100%;
    font-size: 17px;
    padding: 1rem;
    border: 0.5px solid #ffffff;
}
.contacts{
    flex: 1 0 0;
    overflow-y: scroll;
}
.contact{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: 2px solid #FAFAFA;
}
.contact:hover{
    background-color: #E9EBEB;
}
.contact img{
    flex: 0 0 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}
.contact .details{
    flex: 1 0 0;
}
.contact .first-line{
    display: flex;
    gap: 0.5rem;
}
.contact .username{
    flex: 1 1 auto;
    width: 0;
    white-space: nowrap;
    overflow-x: hidden;
}
.contact .second-line{
    margin-top: 1rem;
    color: rgb(161, 159, 159);
}

.area-right{
    flex: 0 0 65%;
    background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.area-right .chat-selected{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #eaeaea;
}
.chat-selected .avatar-user {
    height: 70px;
    aspect-ratio: 1;
    object-fit: covers;
    object-position: center;
    border-radius: 100%;
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.message{
    margin:2rem;
    border-radius: 10px;
    width: 30%;
    padding: 0.5rem;
}
.sent{
    background-color: #D5F9BA;
    text-align: end;
    align-self: flex-end;
}
.received{
    background-color: white;
}
.date{
    font-size: small;
    color: #B1B1B1;
}
.hidden{
    display: none;
}