<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <style>
		[v-cloak] {
			display: none;
		}
	</style>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <!-- script -->
    <script src="js/script.js" defer></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div id="root" class="container" v-cloak>
        <div class="area-left">
            <div class="user-info">
                <div class="avatar-user-container">
                    <img src="img/avatar_2.jpg" alt="" class="avatar-user">
                    <span class="username">Michele</span>
                </div>
                <div class="icon-container">
                    <i class="fa-solid fa-rotate-right"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="notification">
                <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                <div class="notification-text">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="!">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i> <input v-model="searchInput" @keyup="searchContact" type="text" placeholder="cerca o inizia una nuova chat">
            </div>
            <div class="contacts">
                <div 
                v-for="(contact,index) in contacts"
                class="contact" 
                :class="contact.visible == false ? 'hidden': '' " 
                @click="profileActive(contact)"
                >
                    <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                    <div class="details">
                        <div class="first-line">
                            <div class="username">{{contact.name}}</div>
                            <div class="date">12:00</div>
                        </div>
                        <div class="second-line">
                            {{contact.messages[contact.messages.length - 1].message}}...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="area-right">
            <div class="chat-selected">
                <div v-for="(profile, i) in selectedUser" class="avatar-user-container">
                    <img :src="'img/avatar'+ profile.avatar + '.jpg'" alt="" class="avatar-user">
                    <span class="username">{{profile.name}}</span>
                </div>
                <div class="icon-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="chat-active">
                <div v-for="(message, i) in selectedUser.messages" class="message-container">
                    <div class="message" :class="(message.status == 'sent') ? 'sent' : 'received'">
                        <p>{{message.message}}</p>
                        <p class="date">{{message.date}}</p>
                    </div>
                </div>
                <div class="bottom-bar">
                    <input type="text" placeholder="invia un messaggio" v-model="newMessage" @keyup="sendMessage">
                </div>
               
            </div>
        </div>       
    </div>
</body>
</html>